html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: teal;
}
.card {
  display: inline-block;
  background-color: white;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 10px 18px #242424;
  position: relative;
  text-align: center;
}

.card.spades,
.card.clubs {
  color: black;
}
.card.hearts,
.card.diamonds {
  color: red;
}

.card-value-suit-top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  font-size: 80px;
}

.card-value-center {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  margin: -30px 0 0 -30px; /* Apply negative top and left margins to truly center the element */
  font-family: Arial, Helvetica, sans-serif;
}

.card-value-suit-bot {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  font-size: 80px;
}
