body {
  background: green;
}

.card {
  display: inline-block;
  background-color: white;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 10px 18px #242424;
  position: relative;
  text-align: center;
}
.top-suit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  font-size: 80px;
}
.bottom-suit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  font-size: 80px;
}
.number {
}
